* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main{
	max-width: 1440px;
	display: flex;
	margin: 0 auto;
}

.navbar {
	min-width: 200px;
	background: #fff;
}

nav {
	position: fixed;
	width: 132px;
	height: 900px;
	background-color: #0C0B0B;
	border-radius: 24px;
	margin-top: 24px;
	box-shadow: 25px 0px 36px -6px rgba(12, 11, 11, 0.4);
	margin-right: 72px;
}

h1{
	font-family: 'Baloo Bhai 2', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 102px;
	color: #FFFFFF;
	margin: 15px 42px 64px 42px;
}

.icons {
	display: flex;
	flex-direction:column;
	margin: 0 50px;
	grid-gap: 64px;
	margin-bottom: 224px;
}

nav img:hover{
	cursor: pointer;
	animation: hover 0.5s infinite;
}

@keyframes hover {
	0% {transform: rotate(0deg);}
	25%{transform: rotate(-5deg);}
	50% {transform: rotate(0deg);}
	75% {transform: rotate(5deg);}
	100% {transform: rotate(0deg);}
}

.exit {
	margin: 0px 53px 40px 53px;
}

.exit img{
	width: 35px;
}


section {
	display: flex;
	grid-gap: 64px;
}

/*hello_box*/

.hello_box{
	box-shadow: 11px 9px 9px -3px rgba(34, 60, 80, 0.33);
	width: 620px;
	margin-top: 24px;
	background: #F5F5F7;
	border-radius: 14px;
	display: flex;
}

.hello_box__text{
	margin: 77px 124px 30px 31px;
}

.hello_box__title{
	font-family: 'Baloo Bhai 2', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 57px;
	color: #0C0B0B;
}

.hello_box__subtitle{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #0C0B0B;
}

.hello_man{
	margin-right: 100px;
	width: 175px;
	height: 191px;
	background-image: url(src/hello_man.png) ;
	background-size: 100%;
}

.hello_man:hover{
	animation: hello 0.5s ;
}

@keyframes hello {
	0% {
		background-image: url(src/hello_man.png) ;
	}
	25% {
		background-image: url(src/hello_man_1.png) ;
	}
	50% {
		background-image: url(src/hello_man.png) ;
	}
	75% {
		background-image: url(src/hello_man_1.png) ;
	}
	100% {
		background-image: url(src/hello_man.png) ;
	}
}


/*chosen_course*/

.chosen_course {
	margin-top: 24px;
	display: flex;

}

.chosen_course__box{
	box-shadow: 11px 9px 9px -3px rgba(34, 60, 80, 0.33);
	background: #F5F5F7;
	border-radius: 14px;
	display: flex;
	z-index: 15;
}

.chosen_course__country {
	max-width: 64px;
	max-height: 64px;
	background: #FFFFFF;
	border-radius: 12px;
	margin: 8px 24px 8px 8px;
	box-shadow: 11px 9px 9px -3px rgba(34, 60, 80, 0.33);
}

.chosen_course__country img{
	margin: 16px;
}

.size_icon {
	max-height: 32px;
}

.chosen_course_name {
	margin: 18.6px 45px 19px 0;
}
.chosen_course__title {
	font-family: 'Baloo Bhai 2', cursive;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #0C0B0B;
}
.chosen_course__subtitle {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	color: #0C0B0B;
}
.chosen_course__percent{
	position: relative;
	margin: 21px 39px 18px 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 3px solid #0C0B0B;
	display: flex;
	justify-content: center;
	line-height: 36px;
	box-shadow: 11px 9px 9px -3px rgba(34, 60, 80, 0.33);
}

.chosen_course__percent span {
	position: absolute;
	z-index: 5;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #0C0B0B;
}

.anime {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: pink;
	z-index: 1;
	animation: round 2s infinite ease;
}

@keyframes change {

}

.chosen_course__continue{
	width: 120px;
	margin: 19px 23px 20px 0;
	background: #0C0B0B;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 13px;
	color: #FFFFFF;
	border-radius: 8px;
	text-align: center;
	display: flex;
	justify-content: center;
	line-height: 37px;
	cursor: pointer;
	box-shadow: 11px 9px 9px -3px rgba(34, 60, 80, 0.33);
}

.chosen_course__button {
	margin: 16px 0 15px 23.6px;
}

.chosen_course__button img{
	cursor: pointer;
	max-width: 40px;
	filter: drop-shadow(5px 5px 4px rgba(34, 60, 80));
}

.chosen_course__button img:hover{
	filter: drop-shadow(1px 1px 4px rgba(34, 60, 80));
}
.chosen_course__button img:first-child {
	margin-right: 14px;
}

/* courses */

.courses {
	margin-top: 40px;
}

.courses__title {
	font-family: 'Baloo Bhai 2';
	font-weight: 400;
	font-size: 16px;
	line-height: 38px;
	color: #0C0B0B;
	margin-bottom: 16px;
}

ul {
	display: flex;
	grid-gap: 30px;
	list-style-type:none;
	padding: 0;
	margin-bottom: 10px;
}

.inactive_li{
	font-family: 'Baloo Bhai 2';
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #0C0B0B;
	opacity: 0.5;
	cursor: pointer;
}

.active_li {
	font-family: 'Baloo Bhai 2';
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #000;
	cursor: pointer;
}

.courses_block {
	display: flex;
}

.size_icon_sub {
	max-height: 16px;
}

/*info_box*/

.info_box{
	display: flex;
}

input {
/*	border: none;*/
}

.graf {

}

.graf img{
	width: 450px;
	height: 266px;
}

/*advertising*/

.advertising {
	max-width: 440px;
	background: #F5F5F7;
	border-radius: 14px;
	display: flex;
	margin-top: 49px;
	box-shadow: 11px 9px 9px -3px rgba(34, 60, 80, 0.33);
}

.ad_info{
	margin: 24px 54px 15px 23px;
}
.ad_info__text{}
.ad_info__title{
	font-family: 'Baloo Bhai 2';
	font-weight: 400;
	font-size: 24px;
	line-height: 38px;
	color: #0C0B0B;
	margin-bottom: 2px;
}
.ad_info__subtitle{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #0C0B0B;
	margin-bottom: 24px;
}
.ad_info__button{
	box-shadow: 11px 9px 9px -3px rgba(34, 60, 80, 0.33);
	background: #0C0B0B;
	border-radius: 8px;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	color: #FFFFFF;
	width: 120px;
	text-align: center;
	display: flex;
	justify-content: center;
	line-height: 40px;
	cursor: pointer;
}

.brain_img {
	margin: 37px 47px 30px 0;
	width: 125px;
	filter: drop-shadow(0px 0px 4px gray);
	animation: bounce-5 3s infinite ease;
}

@keyframes bounce-5 {
 	0%   { transform: translateY(0); }
      50%  { transform: translateY(-10px); }
      100% { transform: translateY(0); }
 }







 @media screen and (max-width: 900px) {
 	main {
 		display: block;
 	}
 	.navbar {
		min-height: 200px;
	}
 	nav {
 		display: flex;
 		position: fixed;
 		justify-content: space-around;
		width: 100%;
		height: 132px;
		background-color: #0C0B0B;
		border-radius: 24px;
		box-shadow: 25px 0px 36px -6px rgba(12, 11, 11, 0.4);
 	}
 	.icons {
		display: flex;
		flex-direction:row;
		justify-content: space-around;
		margin: 50px 0;
		grid-gap: 10%;
	}

	.exit {
		margin: 48px;
	}

	section {
		display: block;
	}
}